@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;600;700;800;900&display=swap');
body{
    font-family: 'Martel Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}

.active{
    color: #e48c71;
}
@layer components{
    .page_title{
        @apply text-sm p-5 border-b-2 border-black md:border-none
    }

    .title{
        @apply text-[#222222] hover:text-[#e48c71] duration-500 font-semibold
    
    }
}

